/* Settings Icons */ @import url();

/* Settings Grid */
[aria-label="USER_SETTINGS"] .side-2ur1Qk {
  height: auto;
  display: grid;
  width: auto;
  grid-template-columns: auto;
}
[aria-label="USER_SETTINGS"] .item-3XjbnG {
  text-align: center;
}
[aria-label="USER_SETTINGS"] .sidebar-nqHbhN {
  width: 350px;
}
[aria-label="USER_SETTINGS"] .sidebar-nqHbhN .side-2ur1Qk {
  height: inherit;
}
[aria-label="USER_SETTINGS"] .header-2Kx1US {
  text-align: left;
  grid-column: 1 / 3;
  font-size: 15px;
  height: 30px;
}
[aria-label="USER_SETTINGS"] .separator-2wx7h6 {
  grid-column: 1 / 3;
}
/* code from nyr4's comfy */
[aria-label="USER_SETTINGS"] .contentRegion-3HkfJJ {
  flex: 1 1 100%;
}
[aria-label="USER_SETTINGS"] .contentColumn-1C7as6, [aria-label="USER_SETTINGS"] .customColumn-2n-oKU, [aria-label="USER_SETTINGS"] .sidebarScrollable-2mW9Ls + .content-2ssVKB, [aria-label="USER_SETTINGS"] .customScroller-m1-jZn > div {
  max-width: 95%;
}

body #app-mount .sidebarRegion-1VBisG {
	flex-basis: calc(380px + (var(--usesettingsicons) * (var(--settingsiconssize) + var(--settingsiconsgap)))) !important;
}
body #app-mount .sidebar-nqHbhN,
body #app-mount .layer-86YKbF ~ .layer-86YKbF .sidebar-nqHbhN {
	width: calc(380px + (var(--usesettingsicons) * (var(--settingsiconssize) + var(--settingsiconsgap)))) !important;
}
