/* Modal */
:root [class*="userBio"] {
	background: var(--user-accent, var(--about-me-normal));
	border-radius: 5px;
	padding: 10px 10px 15px 10px;
	margin: 20px auto 10px auto;
}

/* Custom Wave */
:root [class*="userBio"]::before {
	content: "";
	position: absolute;
	height: 21px;
	z-index: 1;
	width: 560px;
	top: 20px;
	left: 20px;
	background: var(--about-me-bg);
	-webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="268" height="21" viewBox="0 0 268 21"><path d="M0 21V7.19143C0 7.19143 35.3844 -2.31216 79.4578 0.530784C126.044 1.7492 142.689 13.564 202.466 14.5019C242.561 14.5019 268 7.35388 268 7.35388V21H0Z"/></svg>');
	animation: animate2 4s linear infinite;
	animation-delay: 0s;
	opacity: 1;
	pointer-events: none;
}

:root [class*="userBio"]::after {
	content: "";
	position: absolute;
	height: 21px;
	z-index: 2;
	width: 560px;
	top: 20px;
	left: 20px;
	background: var(--user-accent, var(--about-me-normal));
	-webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="268" height="21" viewBox="0 0 268 21"><path d="M0 21V7.19143C0 7.19143 35.3844 -2.31216 79.4578 0.530784C126.044 1.7492 142.689 13.564 202.466 14.5019C242.561 14.5019 268 7.35388 268 7.35388V21H0Z"/></svg>');
	animation: animate 6s linear infinite;
	animation-delay: 0s;
	opacity: 1;
	pointer-events: none;
}

:root [class*="root-8LYsGj"] [class*="userInfoSectionHeader-"]:first-child {
	color: transparent !important;
	font-size: 0 !important;
	margin-top: -15px !important;
}
