@import url('https://flashc0rd.github.io/BetterBG/bg/backgrounds.css');
@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');
@import url("https://usrbg.cumcord.com/");

/* Doggybootsy Josh's Friend */
[user_by_bdfdb="515780151791976453"],
[data-user-id="515780151791976453"],
[vz-user-id="515780151791976453"],
[data-author-id="515780151791976453"],
[data-list-item-id*=_515780151791976453],
[aria-label^="DoggyBootsy"] {
--user-background: url('https://i.imgur.com/SINyaFR.jpg');}

/* Ainsley Josh's Friend */
[user_by_bdfdb="744392112996352080"],
[data-user-id="744392112996352080"],
[vz-user-id="744392112996352080"],
[data-list-item-id*=_744392112996352080],
[data-author-id="744392112996352080"],
[aria-label^="Cosmic_Snakes (Ainsley)"] {
--user-background: url('https://cdn.discordapp.com/attachments/768889408081625129/840324132612210718/StreamImageStarter.png');}

/* Gusted Josh's Friend */
[user_by_bdfdb="796054126382546964"],
[data-user-id="796054126382546964"],
[vz-user-id="796054126382546964"],
[data-author-id="796054126382546964"],
[data-list-item-id*=_796054126382546964],
[aria-label^="Gusted"] {
--user-background: url('https://cdn.discordapp.com/attachments/837677643397726218/840326787568631854/1200px-Non-binary_enby_pride_flag.svg.png');}

/* Kewl Josh's Friend */
[user_by_bdfdb="362628885361197056"],
[data-user-id="362628885361197056"],
[vz-user-id="362628885361197056"],
[data-author-id="362628885361197056"],
[data-list-item-id*=_362628885361197056],
[aria-label^="Kewl Sage from Hypesquad"] {
--user-background: url('https://cdn.discordapp.com/attachments/704947753108897832/774263170079522846/unknown.png');}


/*Andrew#4037*/
[data-author-id="725512473678970940"],
[vz-user-id="725512473678970940"],
[data-user-id="725512473678970940"],
[user_by_bdfdb="725512473678970940"],
[data-list-item-id*=_725512473678970940],
[aria-label^="Andrew"] {
--user-background: url('https://cdn.discordapp.com/attachments/809836653429391360/841356916520779796/image0.png');}

/* Pukima#8949 */
[data-author-id="751092600890458203"],
[vz-user-id="751092600890458203"],
[data-user-id="751092600890458203"],
[data-list-item-id*=_751092600890458203],
[user_by_bdfdb="751092600890458203"],
[aria-label^="Pukima"] {
--user-background: url('https://source.unsplash.com/user/pukima');}

/* 01#0101 */
[data-author-id="187402426968571904"],
[vz-user-id="187402426968571904"],
[data-user-id="187402426968571904"],
[user_by_bdfdb="187402426968571904"],
[data-list-item-id*=_187402426968571904],
[aria-label^="01"] {
--user-background: url('https://cdn.discordapp.com/attachments/379521692420145161/841412898215165992/cat.png');}

/* Freeplay#5676 */
[data-author-id="158296466119458816"],
[vz-user-id="158296466119458816"],
[data-user-id="158296466119458816"],
[user_by_bdfdb="158296466119458816"],
[data-list-item-id*=_158296466119458816],
[aria-label^="Freeplay"] {
--user-background: url('https://cdn.discordapp.com/attachments/379521692420145161/841073860501045268/foxxo_in_sno.jpg');}


/*Tropical#4104 and Tropical2#1259*/
/* Powercord i Think */
div.profileBanner-j34RzR [data-user-id="365643222522920960"],
.root-SR8cQa [data-user-id="365643222522920960"],
.userPopout-3XzG_A [data-user-id="365643222522920960"],
/* Web */
[data-list-item-id*=_365643222522920960],
div.profileBanner-j34RzR [aria-label^="Tropical"],
.root-SR8cQa [aria-label^="Tropical"],
.userPopout-3XzG_A [aria-label^="Tropical"],
[aria-label^="Tropical"]{
	--user-background: url('https://i.imgur.com/qQBk2cR.jpg');
}

/* Template Background */
[aria-label^=""] {
--user-background: url('');} 

/* Template */
[data-author-id=""],
[vz-user-id=""],
[data-user-id=""],
[user_by_bdfdb=""],
[aria-label^=""] {
--user-background: url('');}

[aria-label^="Valentine"],
[aria-label^="Zer0EqualsFalse"],
[data-list-item-id*=_441384103946878987] {
--user-background:url("https://i.imgur.com/LmSsqxG.jpg");}

[aria-label^="Nyria"],
[data-list-item-id*=_265924886461939712] {
--user-background: url('https://i.imgur.com/NTRvlv4.jpg');}

[aria-label^="Nyaru"],
[data-list-item-id*=_545812979179061248] {
--user-background: url('https://i.imgur.com/NTRvlv4.jpg');}

[aria-label^="Gabe"] {
--user-background: url('https://cdn.discordapp.com/attachments/839164069381668954/840315978205233218/Sunset.png');}

[aria-label^="boar"],
[aria-label^="T3"],
[data-list-item-id*=_282712221795221505] {
--user-background: url('https://i.imgur.com/KyAG360.png');}
