@import url("https://raw.githack.com/CreArts-Community/Friends-Grid/master/theme.css");

:root {

  --FG-avatar-shape: var(--avatar-radius) !important;
  --FG-cards-banner-background: var(--user-accent-color) !important;

}

[class*="peopleColumn"] [class*="userInfo"]::before {
  background-image: var(--user-background, var(--user-banner)) !important;
}
